BpmTibcoIntegration/SOA/WSDLs/SolfaRequestdbReference.wsdl

<wsdl:definitions
     name="SolfaRequestdbReference"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/SolfaRequestApplication/BpmTibcoIntegration/SolfaRequestdbReference"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/SolfaRequestApplication/BpmTibcoIntegration/SolfaRequestdbReference"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolfaRequestdbReference"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="SolfaRequestdbReference_plt" >
    <plt:role name="SolfaRequestdbReference_role" >
      <plt:portType name="tns:SolfaRequestdbReference_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolfaRequestdbReference" schemaLocation="../Schemas/SolfaRequestdbReference_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="SolfaRequestsCollection_msg">
        <wsdl:part name="SolfaRequestsCollection" element="top:SolfaRequestsCollection"/>
    </wsdl:message>
    <wsdl:portType name="SolfaRequestdbReference_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:SolfaRequestsCollection_msg"/>
            <wsdl:output message="tns:SolfaRequestsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:SolfaRequestsCollection_msg"/>
            <wsdl:output message="tns:SolfaRequestsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:SolfaRequestsCollection_msg"/>
            <wsdl:output message="tns:SolfaRequestsCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
